<a href="https://colab.research.google.com/github/SyedJawadShah/KDM_spring_20201/blob/main/weeek1_2_26_20201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


First of all lets import all the libraries

In [2]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [3]:
df= pd.read_csv("https://raw.githubusercontent.com/peetck/IMDB-Top1000-Movies/master/IMDB-Movie-Data.csv", index_col="Title" )
df

                         Rank  ... Metascore
Title                          ...
Guardians of the Galaxy     1  ...        76
Prometheus                  2  ...        65
Split                       3  ...        62
Sing                        4  ...        59
Suicide Squad               5  ...        40
...                       ...  ...       ...
Secret in Their Eyes      996  ...        45
Hostel: Part II           997  ...        46
Step Up 2: The Streets    998  ...        50
Search Party              999  ...        22
Nine Lives               1000  ...        11

[1000 rows x 11 columns]

In [4]:
df.shape

(1000, 11)